body {
    font-family: 'Roboto', sans-serif;
	margin: 0px;
	width: 100%;
}
section {
	width: 100%;
	background: #ffffff;
}
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}
.container {
	width: 1102px;
	padding: 0 10px;
	margin: 0 auto;
}
.header {
	width: 100%;
	background:#eeeeee;
}
.logo {
	padding-top: 25px;
	float:left;
}
.menu {
}
.menu ul{
    font-size: 0;
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 30px;
}
.menu li{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 30px;
}
.menu a{
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 20px 25px;
}
.menu a:hover{
    color: #fb565a;
}
.menu a:active{
    color: #b4b4b4;
}
.basket {
	margin:0;
	float:right;
}
.basket img {
	margin-right: 25px;
}
.illustration {
	margin-top: 80px;
}
.illustration-one {
	float:left;
	width: 300px;
	margin-right: 100px;
}
.illustration-one h2 {
	text-transform: uppercase;
	font-style:bold;
	font-size: 24px;
    line-height: 30px;
}
.illustration-one p {
	font-style: ;
	font-size: 16px;
	line-height: 24px;
}
.illustration-two {
	float:left;
	width: 300px;
}
.illustration-two h2 {
	text-transform: uppercase;
	font-style:bold;
	font-size: 24px;
    line-height: 30px;
}
.illustration-two p {
	font-style: ;
	font-size: 16px;
	line-height: 24px;
}
.illustration-three {
	float:right;
	width: 300px;
}
.illustration-three h2 {
	text-transform: uppercase;
	font-size: 24px;
    line-height: 30px;
}
.illustration-three p {
	font-style: ;
	font-size: 16px;
	line-height: 24px;
}
.information {
	margin-top: 80px;
}
.info {
	float:left;
	width: 470px;
	margin-top: 80px;
}
.info h2 {
	text-transform: uppercase;
	font-size: 24px;
    line-height: 30px;
}
.info p {
	font-size: 11px;
    line-height: 24px;
}
.infoNerds {
	float:right;
	margin-top: 40px;
}
.logotype img{
	padding-right: 43px;
}
.social img{
	padding-top: 70px;
	padding-bottom: 70px;
	float:left;
	padding-left:15px;
}
.friends {
	float:left;
	padding-left:130px;
	padding-top: 70px;
}
.friends h2 {
	font-size: 21px;
    line-height: 15px;

}
.friends p {
	font-size: 11px;
}




































